<div class="catalog-thread">
	<div class="catalog-thread__header">
		{% if post.flag %}
			<img class="catalog-thread__header-flag" src="{{url_for('static', filename='flags/' + post.flag)}}" title="{{post.flag_name}}" onerror="this.src='/static/icons/x.png'">
		{% endif %}
		{% if post.subject %}
			<a class="subject" href="{{url_for('thread', thread_num=post.post_num)}}">{{post.subject|safe}}</a>
		{% else %}
			<a class="subject" href="{{url_for('thread', thread_num=post.post_num)}}">#{{post.post_num}}</a>
		{% endif %}
	</div>

	<a href="{{url_for('thread', thread_num=post.post_num)}}">
		{% if post.files_contained %}
			<img class="catalog-thread__image" src="{{url_for('get_media', filename=post.files_contained[0].filename)}}" onerror="this.src='/static/missing.png'">
		{% endif %}
	</a>

	<p>{{post.thread.post_count}}</p>

	<div class="catalog-thread__message">
		{{post.markdown|safe}}
	</div>
</div>
