<div class="cat-thread">
	<div class="cat-header">
		<img src="{{url_for('static', filename='flags/' + post.flag)}}" title="{{post.get_flag_name()}}">
		
		{% if post.subject %}
			<a class="subject" href="{{url_for('thread', thread_num=post.post_num)}}">{{post.subject}}</a>
		{% else %}
			<a class="subject" href="{{url_for('thread', thread_num=post.post_num)}}">#{{post.post_num}}</a>
		{% endif %}
	</div>

	<a href="{{url_for('thread', thread_num=post.post_num)}}">
		{% if post.files_contained %}
		<img src="{{url_for('get_media', filename=post.files_contained[0].filename)}}">
		{% endif %}
	</a>

	<span>{{post.thread.total_posts}} Post(s)</span>

	<div class="cat-message">
		{{post.format_message()|safe}}
	</div>
</div>