{% macro render_post(post, posts=[]) %}

{% if post.is_op %}
<div id="{{post.post_num}}" class="post post--op">
{% else %}
<div id="{{post.post_num}}" class="post">
{% endif %}
	<div class="post__header">
		{% if post.flag %}
			<img src="{{url_for('static', filename='flags/' + post.flag)}}" title="{{post.get_flag_name}}" onerror="this.src='/static/icons/x.png'">
		{% endif %}
		{% if post.mod %}
			<span class="mod-label">{{post.mod}}</span>
		{% endif %}
		{% if post.subject %}
			<span class="subject">{{post.subject|safe}}</span>
		{% endif %}
		<span title="{{post.timedelta}}">{{post.date.strftime("%Y-%m-%d %H:%M:%S")}}</span>
		<a href="{{url_for('thread', thread_num=post.parent_thread, _anchor=post.post_num)}}" style="margin-right: auto;">#{{post.post_num}}</a>

		<a href="{{url_for('report', post_num=post.post_num)}}">Report</a>
		{% if session.get('admin', None) and post.files_contained %}
		<form action="{{url_for('delete_files', post_num=post.post_num)}}" method="POST">
			<input type="submit" name="" value="Delete All Files">
		</form>
		{% endif %}
	</div>

	<div class="post__replies">
		{% for reply in post.get_replies(posts) %}
			<a href="#{{reply}}" class="post__reply">&gt;&gt;{{reply}}</a>
		{% endfor %}
	</div>

	{% if post.files_contained.__len__() > 1 %}
	<div class="post__content" style="flex-direction: column;">
	{% else %}
	<div class="post__content">
	{% endif %}

		{% if post.files_contained.__len__() > 0 %}
		<div class="post__images">
			{% for file in post.files_contained %}
			<div class="post__image-container">
				<div>
					<p title="{{file.orig_name}}">{{file.cropped_title}}</p>
					<span>{{file.formatted_size}}</span>
					{% if file.dimensions %}
						<span> {{file.dimensions}}</span>
					{% endif %}
				</div>
				<a href="{{url_for('get_media', filename=file.filename)}}">
					<img src="{{url_for('get_media', filename=file.filename)}}" onerror="this.src='/static/missing.png'">
				</a>
				{% if session.get('admin', None) %}
				<form action="{{url_for('delete_file', file_id=file.id)}}" method="POST">
					<input type="submit" name="" value="Delete File">
				</form>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		{% endif %}

		<div class="post__message">
			{{post.markdown|safe}}
			{% if post.ban_message %}
				<br><br>
				<p class="ban-message">{{post.ban_message|safe}}</p>
			{% endif %}
		</div>
	</div>
</div>

{% endmacro %}
