<form action="{{url_for('search_results')}}" class="search-form" method="GET">
	{{form.post_num(placeholder="Post Number")}}
	{{form.subject(placeholder="Subject")}}
	{{form.message(placeholder="Message")}}
	{{form.orig_name(placeholder="Filename")}}
	{{form.filename(placeholder="File Hash (Sha256)")}}

	<div>
		{{form.is_op}}
		<label>Is OP</label>
		{{form.banned}}
		<label>Banned</label>
	</div>
	<div>
		<label>Post Flag: </label>
		{{form.flag}}
	</div>

	<div>
		<label>Start Date: </label>
		{{form.start_date}}
	</div>
	<div>
		<label>End Date: </label>
		{{form.end_date}}
	</div>

	<div>
		<label>Sort Order: </label>
		{{form.order}}
	</div>

	<input type="submit" name="" class="btn-submit" value="Submit">
</form>
