{% extends 'layout.html' %}
{% block content %}

<div class="site-info">
	<div>
		<h2>Site Info</h2>
		<p>
			This site is an archive of the <a href="https://kohlchan.net/int/index.html">https://kohlchan.net/int/</a> imageboard. Only thumbnails are archived to save on costs. The scraper currently runs every 2 hours, so if you can't find a recent post, wait a while for it to be saved.
		</p>
	</div>

	<div>
		<h2>Reporting</h2>
		<p>
			Next to every post is a "Report" button, use this to report any illegal content.
		</p>
	</div>

	<div>
		<h2>Source Code</h2>
		<p>
			Source avaliable here: <a href="https://github.com/geroko/KCArchive">https://github.com/geroko/KCArchive</a>. Use this page to report any bugs or request a feature.
		</p>
	</div>
</div>

{% endblock %}