<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>KC Archive - {{title}}</title>
	{% else %}
	<title>KC Archive</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	{% if session.get('theme') == 'dark' %}
	<link rel="stylesheet" type="text/css" href="/static/dark.css">
	{% endif %}
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
	<header class="header">
		<span class="header__logo">KC /int/ Archive</span>
		<nav class="top-nav">
			<a class="top-nav__item" href="{{url_for('catalog')}}">Catalog</a>
			<a class="top-nav__item" href="{{url_for('search')}}">Search</a>
			<a class="top-nav__item" href="{{url_for('stats')}}">Stats</a>
			<a class="top-nav__item" href="{{url_for('about')}}">About</a>
		</nav>

		<form class="search-bar" action="{{url_for('search_results')}}" method="GET">
			<input type="hidden" name="flag" value="Show All">
			<input type="text" name="message" value="" placeholder="Search all posts...">
			<input type="submit" name="" value="Submit">
		</form>

		{% if session.get('theme') == 'dark' %}
		<form class="change-theme" action="{{url_for('change_theme')}}" title="Change Theme" method="POST">
			<input type="image" src="{{url_for('static', filename='icons/sun.png')}}">
		</form>
		{% else %}
		<form class="change-theme" action="{{url_for('change_theme')}}" title="Change Theme" method="POST">
			<input type="image" src="{{url_for('static', filename='icons/moon.png')}}">
		</form>
		{% endif %}
	</header>

	{% if g.banner %}
		<div class="banner">
			{{g.banner}}
		</div>
	{% endif %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="flashed-message">
			{% for message in messages %}
				{{message}}
			{% endfor %}
		</div>
		{% endif %}
	{% endwith %}

	{% block content %}{% endblock %}

</body>
</html>
