{% from '_post.html' import render_post %}
{% from '_paginator.html' import paginator %}
{% from '_form-errors.html' import render_errors %}

{% extends "layout.html" %}
{% block content %}

	{% include '_search-form.html' %}

	{{ render_errors(form.errors) }}

{% if posts %}
	<h1 class="page-title">{{posts.total}} Results - Page {{posts.page}}</h1>

	<div class="search-results">
	{% for post in posts.items %}
		
		{{ render_post(post) }}

	{% endfor %}
	</div>

	{{ paginator('search_results', posts, query) }}

{% endif %}

{% endblock %}
