{% from '_post.html' import render_post %}
{% from '_paginator.html' import paginator %}
{% from '_form-errors.html' import render_errors %}

{% extends "layout.html" %}
{% block content %}

	{% include '_search-form.html' %}

	{{ render_errors(form.errors) }}

{% if posts %}
	<h1 class="page-title">{#{{posts.total}} Results - #}Page {{page_num}}</h1>

	<div class="search-results">
	{% for post in posts %}

		{{ render_post(post) }}

	{% endfor %}
	</div>

	<div class="paginator">
		{% if page_num <= 1 %}
			<a href="{{url_for('search_results', page_num=1, **query)}}" class="paginator__item">&lt;</a>
		{% else %}
			<a href="{{url_for('search_results', page_num=page_num - 1, **query)}}" class="paginator__item">&lt;</a>
		{% endif %}
		<a href="{{url_for('search_results', page_num=page_num + 1, **query)}}" class="paginator__item">&gt;</a>
	</div>

	{#{{ paginator('search_results', posts, query) }}#}

{% endif %}

{% endblock %}
