{% extends 'layout.html' %}
{% block content %}

<div class="stats">
	<div class="flag-list">
	{% for flag in flag_list %}
		<div class="flag-list__item">
			{% if flag[0] %}
				<img src="{{url_for('static', filename='flags/' + flag[0])}}" title="{{flag[2]}}" alt="" onerror="this.src='/static/icons/x.png'"> <span>{{flag[1]}} Posts</span>
			{% endif %}
		</div>
	{% endfor %}
	</div>

	<div class="most-posted">
	{% for file in most_posted %}
		<div class="most-posted__item">
			<p>{{file[1]}} Reposts</p>
			<img src="{{url_for('get_media', filename=file[0])}}" onerror="this.src='/static/missing.png'">
		</div>
	{% endfor %}
	</div>
</div>

{% endblock %}
