///////////////////////////////////////////////////////////
// Catalog Thread
.catalog-thread {
	background-color: var(--color-primary);
	border: 1px solid var(--color-border);
	overflow: hidden;
	text-align: center;

	&:hover {
		overflow-y: auto;
	}

	&__header {
		padding: .3rem;
	}

	&__image {
		max-width: 20rem;
		max-height: 20rem;
		margin-bottom: .3rem;
	}

	&__message {
		padding: .5rem;
	}
}

@media only screen and (max-width: 450px) {
	.catalog-thread__image {
		max-width: 10rem;
		max-height: 10rem;
	}
}

///////////////////////////////////////////////////////////
// Post
.post {
	background-color: var(--color-primary);
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	margin-bottom: .8rem;

	&--op {
		background-color: var(--color-secondary);
	}

	&:target {
		border: 2px dashed black;
	}

	& a {
		color: blue;

		&:visited {
			color: purple;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__header {
		display: flex;
		align-items: flex-start;
		padding: .5rem .5rem 0 .5rem;
		line-height: 2rem;
		flex-wrap: wrap;

		& > *:not(:last-child) {
			margin-right: 5px;
		}
	}

	&__replies {
		font-size: 1.1rem;
		padding: .2rem .4rem 0 .4rem;
	}

	&__reply {
		margin-left: .2rem;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__images {
		display: flex;
		flex-wrap: wrap;
	}

	&__image-container {
		margin: .6rem;

		& img {
			max-width: 20rem;
			max-height: 20rem;
		}
	}

	&__message {
		padding: .9rem;
	}
}

@media only screen and (max-width: 600px) {
	.post__image-container img {
		max-width: 12rem;
	}
}

///////////////////////////////////////////////////////////
// Buttons
.btn-submit {
	align-self: center;
	padding: .8rem 5.5rem !important;
	background-color: #333;
	color: white;
	cursor: pointer;
	transition: background-color .2s;
	grid-column: 1 / 3;
	justify-self: center;

	&:hover {
		background-color: #444;
	}
}

.btn-danger {
	background-color: #e60000;
	color: white;
	padding: 6px 15px;
	cursor: pointer;

	&:hover {
		background-color: red;
	}
}

///////////////////////////////////////////////////////////
// Search Form
.search-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: .5rem;
	margin: 1.5rem;
	padding: 1rem;
	background-color: var(--color-primary);
	border: 1px solid var(--color-border);
	align-self: center;
	position: relative;

	& input, select {
		padding: .2rem;
	}

	& #subject {
		grid-column: 1/2;
	}

	& #orig_name {
		grid-column: 2/3;
		grid-row: 2/3;
	}
}

@media only screen and (max-width: 600px) {
	.search-form {
		display: flex;
		flex-direction: column;

		& input, select {
			margin: .2rem;
		}
	}
}

///////////////////////////////////////////////////////////
// Report Form
.report-form {
	background-color: var(--color-primary);
	border: 1px solid var(--color-border);
	display: flex;
	flex-direction: column;
	margin: 1rem;
	padding: .8rem;
	text-align: center;

	& > textarea {
		min-width: 25rem;
		min-height: 12rem;
		margin: .5rem;
		padding: .5rem;
	}
}

///////////////////////////////////////////////////////////
// Paginator
.paginator {
	display: flex;
	margin: 1.5rem 0;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	&__item {
		background-color: var(--color-primary);
		border: 1px solid var(--color-border);
		padding: .5rem 1rem;
		margin: .4rem;
		font-size: 2rem;

		&:hover {
			background-color: var(--color-secondary);
		}

		&--selected {
			background-color: var(--color-secondary);
		}
	}
}

///////////////////////////////////////////////////////////
// Form Errors
.form-errors {
	background-color: var(--color-primary);
	border: 1px solid var(--color-border);
	padding: 1rem;
	align-self: center;
}

///////////////////////////////////////////////////////////
// Flashed Message
.flashed-message {
	background-color: var(--color-primary);
	border: 1px solid var(--color-border);
	margin-top: 60px;
	padding: 1.5rem 2.5rem;
	position: fixed;
	animation: fadeOut 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	right: 10px;
	z-index: 1;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media only screen and (max-width: 768px) {
	.flashed-message {
		right: unset;
		margin-top: 80px;
		align-self: center;
	}
}

///////////////////////////////////////////////////////////
// Reply Preview
.reply-preview {
	position: absolute;
	border: 2px dashed black;
	max-width: 95%;
}

///////////////////////////////////////////////////////////
// Sticky Nav
.stickynav {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
	background-color: var(--color-primary);
	border: 1px solid var(--color-border);
	display: flex;

	& > a {
		padding: 5px;

		&:not(:last-child) {
			border-right: 1px solid var(--color-border);
		}

		&:hover {
			background-color: var(--color-secondary);
		}
	}
}

