[Unit]
Description="KCArchive uWSGI service"
After=postgresql.service

[Service]
WorkingDirectory=/var/www/KCArchive
ExecStart=/var/www/KCArchive/venv/bin/uwsgi --ini deployment/uwsgi.ini

[Install]
WantedBy=multi-user.target
