:root {
	--color-background: #1e1e1e;
	--color-border: #555;
	--color-primary: #333;
	--color-secondary: #222;
	--color-text: #eee;
}

.post a, .site-info a {
	color: white !important;
}

input, select, textarea {
	background-color: #eee;
}

.spoiler:hover {
	color: #eee !important;
}

.greenText {
	color: limegreen !important;
}

.site-info {
	background-color: var(--color-secondary);
}

.tr:hover {
	background-color: #555;
}
